#grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 400px));
    justify-content: center;
    gap: 25px;
    margin-top: 75px;
}

.item {
    width: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    border: 2px solid #5f5d5d;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.15s, background-color 0.15s;
}
.item:hover {
    transform: scale(1.015) translate(0, -15px);
    background-color: rgb(74, 73, 73);
    color: #e3e1e1;
    border: solid 3px orange;
}
.item img {
    width: auto;
    height: 300px;
    border: solid 2px black;
    border-radius: 5px;
    transition: transform 0.15s;
}
.item:hover img {
    transform: scale(1.04);
    border: solid 3px black;
}
.item p {
    text-align: center;
    font-size: 20px;
}
